[github]
    user = bennyyip
[user]
    name = bennyyip
    email = yebenmy@protonmail.com
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process
[push]
    default = matching
[core]
    autocrlf = false
    trustctime = false
    editor = vim
    filemode = false
    eol = lf
    safecrlf = true
    quotepath = false
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[merge]
    tool = vimdiff
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
[alias]
    amm = commit -a --amend --no-edit
    clone-fast = clone --depth=1
    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit -v
    ca = commit --amend -v
    unstage = reset HEAD --
    st = status -sb
    br = branch -vv
    bra = branch -vv --all
    dc = diff --cached
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
    update-submodules = submodule update --init --recursive
    upgrade-submodules = submodule update --init --remote
    p1 = diff HEAD~1 --diff-algorithm=minimal --output=1.patch
    tar = ! "tar() { git archive --format tar --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; tar"
    targz = ! "targz() { git archive --format tar.gz --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; targz"
    zip = ! "zip() { git archive --format zip --prefix=\"${PWD##*/}/\" HEAD -o ${1}; }; zip"
    tgz-submodule = ! "tgz() { git ls-files --recurse-submodules | tar caf ${1} --xform s:^:prog/: --verbatim-files-from -T-; }; tgz"
    root = rev-parse --show-toplevel
[pull]
    rebase = true
[help]
    autocorrect = 1

[push]
    default = current

[init]
    defaultBranch = master
[diff]
    algorithm = patience
    # https://blog.github.com/2018-04-05-git-217-released/
    colorMoved = plain


[pager]
    # or not... # insanely beautiful diffs ==> npm install -g diff-so-fancy
    # https://github.com/dandavison/delta
    diff = delta # diff-so-fancy | less --tabs=4 -RFX
    show = delta # diff-so-fancy | less --tabs=4 -RFX

[delta]
    syntax-theme = gruvbox-dark
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = false
    line-numbers = true
    features = decorations

[delta "decorations"]
    file-decoration-style = yellow ol ul
    file-style = bold yellow ul
    hunk-header-decoration-style = none
    commit-decoration-style = bold yellow box ul

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[include]
    path = .gitconfig.local
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@github.com:"]
    insteadOf = git://github.com/
