[github]
    user = bennyyip
[user]
    name = bennyyip
    email = yebenmy@protonmail.com
    signingkey = 0x11CD7ED945B1A60F
[push]
    default = matching
[core]
    autocrlf = false
    trustctime = false
    editor = vim
    filemode = false
    eol = lf
    safecrlf = true
    quotepath = false
[color]
    ui = true
[merge]
    tool = vimdiff
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
[alias]
    amm = commit -a --amend --no-edit
    clone-fast = clone --depth=1
    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    unstage = reset HEAD --
    st = status -sb
    br = branch
    dc = diff --cached
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
    supdate = submodule update --remote --recursive --rebase
    p1 = diff HEAD~1 --diff-algorithm=minimal --output=1.patch
[pull]
    rebase = true
[help]
    autocorrect = 1

[url "git@git.code.oa.com:"]
    insteadOf = https://git.code.oa.com/
    insteadOf = http://git.code.oa.com/
    insteadOf = https://git.oa.com/
    insteadOf = http://git.oa.com/

[push]
    default = current

[init]
    defaultBranch = master
[diff]
    algorithm = patience

[pager]
    # or not... # insanely beautiful diffs ==> npm install -g diff-so-fancy
    # https://github.com/dandavison/delta
    diff = delta # diff-so-fancy | less --tabs=4 -RFX
    show = delta # diff-so-fancy | less --tabs=4 -RFX

[diff]
    # https://blog.github.com/2018-04-05-git-217-released/
    colorMoved = plain

[delta]
    syntax-theme = gruvbox-dark

    file-decoration-style = yellow ol ul
    file-style = bold yellow ul
    hunk-header-decoration-style = none

    features = side-by-side line-numbers decorations

[delta "decorations"]
    file-decoration-style = yellow ol ul
    file-style = bold yellow ul
    hunk-header-decoration-style = none

[interactive]
    diffFilter = delta --color-only
