[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim"]
	path = vim
	url = git@github.com:bennyyip/dot-vim.git
	update = rebase
	ignore = dirty
