[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	shallow = true
[submodule "vim"]
	path = vim
	url = git@github.com:bennyyip/dot-vim.git
	update = rebase
	ignore = dirty
	shallow = true
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
