*~
*.bak
/pwsh/Modules/
pwsh/local_profile.psm1
pwsh/Help
ahk/ahkrc.exe
ahk/local.ahk
emacs/
__pycache__
mpv/scripts/uosc/bin/

config/doom/private/
config/yazi/flavors
config/yazi/plugins
config/yazi/bookmark

zsh/.histfile
zsh/.zcompdump
zsh/.ZSH_CACHE_DIR
