"https://github.com/bennyyip/zellij-compact-bar/releases/latest/download/compact-bar.wasm" {
    ReadApplicationState
    ChangeApplicationState
}
"https://github.com/mostafaqanbaryan/zellij-switch/releases/latest/download/zellij-switch.wasm" {
    ChangeApplicationState
    ReadApplicationState
}
"https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
    RunCommands
    WriteToStdin
    ChangeApplicationState
}
