export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS='@im=fcitx'
export TERMINAL=alacritty

xcape -e 'Control_L=Escape'

fcitx &

source /etc/locale.conf

[[ -f ~/.extend.xprofile ]] && source ~/.extend.xprofile
